* {
  margin: 0;
  padding: 0;
}

html,body {
  overflow: hidden;

}

.wrap {
  width: 100%;
  height: auto;
  form {
    z-index: 900;
    position: absolute;
    top: 10px;
    left: 10px;
    .keyword {
      width: 100px;
      height: 20px;
      border: none;
      border-bottom: 4px solid orange;
      font-size: 12pt;
      color: white;
      padding-left: 10px;
      background-color: rgba(0,0,0,0.4);
    }
    .search-btn {
      width: 50px;
      height: 20px;
      background-color: aliceblue;
      font-size: 10pt;
      opacity: 0.5;
    }
  }
  video {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  #video {
    opacity: 1.0;
  }
  #video2 {
    opacity: 0.0;
  }
  .active {
    z-index: 50;
  }
}
